version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=blog_db
      - DB_USER=user
      - DB_PASSWORD=password

  db:
    image: mysql:8.0
    container_name: blog_db
    environment:
      MYSQL_DATABASE: blog_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: blog_pma
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8081:80"

  sass:
    image: node:18-alpine
    container_name: blog_sass
    working_dir: /app
    volumes:
      - .:/app
    command: sh -c "npm install && npm run watch"

volumes:
  db_data:
