.pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 0.5rem;

    a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 50%;
        font-weight: 600;
        border: 1px solid transparent;

        &.active {
            background: $primary-color;
            color: white;
        }

        &:hover:not(.active) {
            background: darken(white, 5%);
        }
    }
}